<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.chemclipse.msd.converter.databaseSupplier">
      <DatabaseSupplier
            description="Reads MicrobeMS Spectral Multifiles from a Matlab™ specific file format."
            fileExtension=".muf"
            filterName="Spectral Multifiles (*.muf)"
            id="org.eclipse.chemclipse.msd.converter.supplier.muf"
            importConverter="net.openchrom.msd.converter.supplier.muf.converter.DatabaseImportConverter"
            importMagicNumberMatcher="net.openchrom.msd.converter.supplier.muf.converter.MagicNumberMatcherDatabase"
            exportConverter="net.openchrom.msd.converter.supplier.muf.converter.DatabaseExportConverter"
            isExportable="false"
            isImportable="true">
      </DatabaseSupplier>
   </extension>
</plugin>
